# git init
# git config user.email "ajithks98086@gmail.com"
# git config user.name "Ajith K. S."
# git branch -M main
# git remote add origin https://github.com/Ajith369369/bootstrap-travel-website.git
# git add .
# git commit -m "First Commit"
# git push -u origin main

# /public/styles
book-with-us-style.css
exclusive-offers-style.css
famous-tourist-attraction-style.css
footer-style.css
header-style.css
refund-style.css
search-flights-hotels-bus-style.css
search-style.css
top-flight-routes-style.css
travel-blogs-style.css
EMT.html
Template.html
Test_1.html
Test_2.html