# git init
# git config user.email "ajithks98086@gmail.com"
# git config user.name "Ajith K. S."
# git branch -M main
# git remote add origin https://github.com/Ajith369369/bootstrap-travel-website.git
# git add .
# git commit -m "First Commit"
# git push -u origin main

# /public/styles
book-with-us-style.css
exclusive-offers-style.css
famous-tourist-attraction-style.css
footer-style.css
header-style.css
refund-style.css
search-flights-hotels-bus-style.css
search-style.css
top-flight-routes-style.css
travel-blogs-style.css
EMT.html
book-with-us.html
exclusive-offers.html
famous-tourist-attraction.html
footer.html
header_w_css.html
header-1.html
header.html
refund.html
search-flights-hotels-bus.html
search.html
top-flight-routes.html
travel-blogs.html
info.html
info-1.html
Template.html
Test_1.html
Test_2.html
Test_3.html
Test_4.html
Test_5.html
Test_6.html