<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>

    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../public/styles/header-style.css">
  </head>
  <body>
    <section id="header">
      <div class="row">
        <div class="_innerWrap pdbtm0">
          <div class="_onerohdr">
            <div class="emt_header">
              <a
                href="https://www.easemytrip.com/"
                title="easemytrip.com"
                class="emt_logo"
                ><i class="newHeaderLogo desk_logo"></i
              ></a>
            </div>
            <div class="emt_rgtside">
              <div
                class="_mnurobx b2cpanel"
                onclick="window.open('https://www.easemytrip.com/agents','new_window')"
              >
                <div class="_subheaderlink flxstrt">
                  <div class="emtmateicn"></div>
                  <div>
                    <span>EMTMate</span>
                    <span class="hedsbline">Agent travel solution</span>
                  </div>
                </div>
              </div>
              <div
                class="_mnurobx b2cpanel"
                onclick="window.open('https://www.easemytrip.com/corporate','new_window')"
              >
                <div class="_subheaderlink flxstrt">
                  <div class="emtdeskicn"></div>
                  <div>
                    <span>EMTDesk</span>
                    <span class="hedsbline">Corporate travel program </span>
                  </div>
                </div>
              </div>
              <div
                class="_mnurobx b2cpanel"
                onclick="window.open('https://www.easemytrip.com/emt-royale/','new_window')"
              >
                <div class="_subheaderlink flxstrt">
                  <div class="emtroyalico"></div>
                  <div>
                    <span>EMTRoyale</span>
                    <span class="hedsbline">For Prime Members</span>
                  </div>
                </div>
              </div>
              <div
                class="_mnurobx b2cpanel"
                onclick="window.open('https://www.explorebharat.com/','new_window')"
              >
                <div class="_subheaderlink flxstrt">
                  <div class="expbharatico"></div>
                  <div>
                    <i class="newtagstop"></i>
                    <span>Explore Bharat</span>
                    <span class="hedsbline">A Tour to India</span>
                  </div>
                </div>
              </div>
              <div
                class="_mnurobx b2cpanel"
                onclick="window.open('https://www.easemytrip.com/JoinEMTPro','new_window')"
              >
                <div class="_subheaderlink flxstrt">
                  <div class="joinemtpro"></div>
                  <div>
                    <span>Join EMTPro</span>
                    <span class="hedsbline">Enjoy More Benefits </span>
                  </div>
                </div>
              </div>

              <div class="_mnurobx b2cpanel" style="display: none">
                <div class="_subheaderlink">
                  <div class="mybookingico"></div>
                  <span>My Booking </span><i class="_downroarw"></i>

                  <div class="_dropdownromenu">
                    <a
                      class="_drpdubro"
                      href="https://mybookings.easemytrip.com/"
                    >
                      <span class="menuropos edtbooking-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Edit Booking</span>
                        <span class="fnt12">Manage your Booking, and edit</span>
                      </span>
                    </a>
                    <a class="_drpdubro">
                      <span class="menuropos chngflght-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Change Flight</span>
                        <span class="fnt12">Change your Flight here</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="_mnurobx" style="display: none">
                <div class="_subheaderlink flxstrt">
                  <div class="supportusrico"></div>
                  <div>
                    <span>Customer Service </span>
                    <span class="hedsbline">We're here to help you</span>
                  </div>
                  <i class="_downroarw mgt7"></i>

                  <div class="_dropdownromenu">
                    <a class="_drpdubro">
                      <span class="menuropos callsupport-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Call Support</span>
                        <span class="fnt12 _clrblu copbtel"
                          >Tel : 011 - 43131313, 43030303</span
                        >
                      </span>
                    </a>
                    <a class="_drpdubro" href="mailto:care@easemytrip.com">
                      <span class="menuropos mailsupport-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Mail Support</span>
                        <span class="fnt12 _clrblu copbmail"
                          >Care@easemytrip.com</span
                        >
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="emt_listrgt">
                <div class="rgtseclag">
                  <div class="_subheaderlink flxstrt cntdv">
                    <div class="supportusrico" style="margin-top: 0"></div>
                    <i class="_downroarw" style="margin-top: 3px"></i>

                    <div class="_dropdownromenu">
                      <a class="_drpdubro">
                        <span class="menuropos callsupport-roico"></span>
                        <span class="_romnutxt">
                          <span class="fnt14">Call Support</span>
                          <span class="fnt12 _clrblu copbtel"
                            >Tel : 011 - 43131313, 43030303</span
                          >
                        </span>
                      </a>
                      <a class="_drpdubro" href="mailto:care@easemytrip.com">
                        <span class="menuropos mailsupport-roico"></span>
                        <span class="_romnutxt">
                          <span class="fnt14">Mail Support</span>
                          <span class="fnt12 _clrblu copbmail"
                            >Care@easemytrip.com</span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="_mnurobx b2cpanel">
                    <div class="lang_cnt_view" onclick="OpenBox()">
                      <span id="spnFlgImgHead"
                        ><img
                          src="https://flight.easemytrip.com/Content/img/flag/flag_IN.svg"
                          width="18"
                      /></span>
                      <span id="spnCC">India</span>
                      <i class="_downroarw"></i>
                    </div>
                    <div class="lang_slct" style="display: none">
                      <div class="top_sec_lg">
                        <div class="lang_slct_50" id="lanCountry">
                          <p>Choose Country</p>
                          <div class="currency-switcher">
                            <div class="dropdown">
                              <div class="caption" id="divCCaption">
                                <img
                                  src="https://flight.easemytrip.com/Content/img/flag/flag_IN.svg"
                                  width="18"
                                />India
                              </div>
                              <div class="list">
                                <div
                                  class="item ccaption IN selected"
                                  onclick="SetCountryCode('IN','India')"
                                >
                                  <img
                                    src="https://flight.easemytrip.com/Content/img/flag/flag_INR.svg"
                                    width="18"
                                  />India <span class="inrcurr"></span>
                                </div>
                                <div
                                  class="item ccaption AE"
                                  onclick="SetCountryCode('AE','UAE')"
                                >
                                  <img
                                    src="https://flight.easemytrip.com/Content/img/flag/flag_AED.svg"
                                    width="18"
                                  />UAE <span class="aedcurr"></span>
                                </div>
                                <div
                                  style="display: block"
                                  class="item ccaption UK"
                                  onclick="SetCountryCode('UK','GBP')"
                                >
                                  <img
                                    src="https://flight.easemytrip.com/Content/img/flag/flag_GBP.svg"
                                    width="18"
                                  />UK <span class="gbpcurr"></span>
                                </div>
                                <div
                                  style="display: block"
                                  class="item ccaption TH"
                                  onclick="SetCountryCode('TH','THB')"
                                >
                                  <img
                                    src="https://flight.easemytrip.com/Content/img/flag/flag_THB.svg"
                                    width="18"
                                  />TH <span class="thbcurr"></span>
                                </div>
                                <div
                                  style="display: none"
                                  class="item ccaption US"
                                  onclick="window.open('https://easemytrip.com/', '_blank')"
                                >
                                  <img
                                    src="https://flight.easemytrip.com/Content/img/flag/flag_USD.png"
                                    width="18"
                                  />US <span class="usdcurr"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!----lang_slct_50-->

                        <div
                          class="lang_slct_50"
                          style="display: block"
                          id="lanCurr"
                        >
                          <p>
                            <!--Choose Currency-->
                            Choose Currency
                          </p>
                          <div class="currency-switcher">
                            <div class="dropdown">
                              <div class="currCaption">INR</div>
                              <div class="currlist">
                                <div class="curritem selected">INR</div>
                                <div class="curritem">AED</div>
                                <div class="curritem">THB</div>
                                <div class="curritem">USD</div>
                                <div class="curritem">GBP</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!----lang_slct_50-->
                      </div>
                      <!---top_sec_lg-->
                      <div class="boder_tps" style="display: block">
                        <p>
                          <!--Choose Language-->
                          Choose Language
                        </p>
                        <div class="lang_slect">
                          <label id="lbEnglish" class="cont_curr">
                            English
                            <input
                              id="rbEnglish"
                              onchange="pageLoadonLangSelectNew('English')"
                              type="radio"
                              value=""
                              name="optLang"
                              checked="checked"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbHindi" class="cont_curr">
                            Hindi
                            <input
                              id="rbHindi"
                              onchange="pageLoadonLangSelectNew('Hindi')"
                              type="radio"
                              value="hi-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Assamese
                            <input
                              id="rbAssamese"
                              onchange="pageLoadonLangSelectNew('Assamese')"
                              type="radio"
                              value="as-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Bengali
                            <input
                              id="rbBengali"
                              onchange="pageLoadonLangSelectNew('Bengali')"
                              type="radio"
                              value="bn-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Gujarati
                            <input
                              id="rbGujarati"
                              onchange="pageLoadonLangSelectNew('Gujarati')"
                              type="radio"
                              value="gu-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Marathi
                            <input
                              id="rbMarathi"
                              onchange="pageLoadonLangSelectNew('Marathi')"
                              type="radio"
                              value="mr-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Punjabi
                            <input
                              id="rbPunjabi"
                              onchange="pageLoadonLangSelectNew('Punjabi')"
                              type="radio"
                              value="pa-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Tamil
                            <input
                              id="rbTamil"
                              onchange="pageLoadonLangSelectNew('Tamil')"
                              type="radio"
                              value="ta-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Telugu
                            <input
                              id="rbTelugu"
                              onchange="pageLoadonLangSelectNew('Telugu')"
                              type="radio"
                              value="te-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Urdu
                            <input
                              id="rbUrdu"
                              onchange="pageLoadonLangSelectNew('Urdu')"
                              type="radio"
                              value="ur-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                          <label id="lbPanjabi" class="cont_curr">
                            Arabic
                            <input
                              id="rbArabic"
                              onchange="pageLoadonLangSelectNew('Arabic')"
                              type="radio"
                              value="ar-in"
                              name="optLang"
                            />
                            <span class="chk_curr"></span>
                          </label>
                        </div>
                      </div>
                      <!---top_sec_lg-->
                    </div>
                  </div>
                </div>

                <div
                  class="_signuppnl _subheaderlink"
                  id="divSignInPnl"
                  style="display: block"
                >
                  <!-- <a class="_btnclick">Login or Signup</a> -->
                  <a class="_btnclick">
                    <span id="">Login or Signup</span>
                  </a>
                  <div class="_dropdownromenu drhvr">
                    <a class="_drpdubro log">
                      <span class="menuropos custlog-roico"></span>
                      <span class="_romnutxt" id="shwlogn">
                        <span class="fnt14">Customer Login</span>
                        <span class="fnt12">Login &amp; check bookings</span>
                      </span>
                    </a>
                    <a
                      class="_drpdubro"
                      href="https://www.easemytrip.com/corporate/"
                    >
                      <span class="menuropos corplog-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Corporate Travel</span>
                        <span class="fnt12">Login corporate account</span>
                      </span>
                    </a>
                    <a
                      class="_drpdubro"
                      href="https://www.easemytrip.com/agents"
                    >
                      <span class="menuropos agntlog-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Agent Login</span>
                        <span class="fnt12">Login your agent account</span>
                      </span>
                    </a>
                    <a
                      class="_drpdubro"
                      href="https://mybookings.easemytrip.com/"
                    >
                      <span class="menuropos mybooking-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">My Booking</span>
                        <span class="fnt12">Manage your bookings here</span>
                      </span>
                    </a>
                  </div>
                </div>

                <div class="rgtseclag">
                  <div class="_AgntID">Agent ID: EMT0007895</div>
                  <div
                    id="spnLogoutPnl"
                    class="_mnurobx logedrobg"
                    style="display: none"
                  >
                    <div class="_subheaderlink">
                      <div class="logrousrico"></div>
                      <!-- <span>Hi, Rohan</span><i class="_downroarw"></i> -->
                      <span id="spnLgnWelcome" style="display: none">Hi, </span>
                      <span id="welcome-det-User" style="display: none"></span
                      ><i class="_downroarw"></i>
                      <div class="_dropdownromenu b2cpanel drhvr">
                        <a
                          class="_drpdubro"
                          href="https://mybookings.easemytrip.com/MyBooking/profile"
                        >
                          <span class="menuropos myprofile-roico"></span>
                          <span class="_romnutxt">
                            <span class="fnt14">My Profile</span>
                            <span class="fnt12"
                              >Manage your profile and password</span
                            >
                          </span>
                        </a>
                        <a
                          class="_drpdubro"
                          href="https://mybookings.easemytrip.com/MyBooking/profile?wallet"
                        >
                          <span class="menuropos emtwallet-roico"></span>
                          <span class="_romnutxt">
                            <span class="fnt14">EMT Wallet</span>
                            <span class="fnt12"
                              >Use your wallet money to avail disounts</span
                            >
                          </span>
                        </a>
                        <a
                          class="_drpdubro"
                          href="https://mybookings.easemytrip.com/"
                        >
                          <span class="menuropos mybooking-roico"></span>
                          <span class="_romnutxt">
                            <span class="fnt14">My Booking</span>
                            <span class="fnt12">Manage your bookings here</span>
                          </span>
                        </a>
                        <a class="_drpdubro LogOut" ng-click="LogOut()">
                          <span class="menuropos logout-roico"></span>
                          <span class="_romnutxt">
                            <span class="fnt14">Log Out</span>
                          </span>
                        </a>
                      </div>
                      <div
                        class="_dropdownromenu"
                        style="display: none"
                        id="divB2BAgent"
                      >
                        <a class="_drpdubro" id="HAGCode">YOGI</a>
                        <a class="_drpdubro">
                          <span class="menuropos emtwallet-roico"></span>
                          <span class="_romnutxt">
                            <span class="fnt14">A/C Balance</span>
                            <span class="rupeb2b">
                              <img
                                src="https://flight.easemytrip.com/Content/img/inr-hotel-tab.png"
                                alt="rupee"
                                class="rupeeIcnb2b"
                              />
                              <span class="wallet-amt" id="HABal">546546</span>
                            </span>
                          </span>
                        </a>
                        <a class="_drpdubro">
                          <span class="menuropos mybooking-roico"></span>
                          <span class="_romnutxt">
                            <span class="fnt14">Statement Balance</span>
                            <span class="rupeb2b">
                              <img
                                src="https://flight.easemytrip.com/Content/img/inr-hotel-tab.png"
                                alt="rupee"
                                class="rupeeIcnb2b"
                              />
                              <span class="wallet-amt" id="HSbal">354546</span>
                            </span>
                          </span>
                        </a>
                        <a class="_drpdubro LogOut" ng-click="LogOut()">
                          <span class="menuropos logout-roico"></span>
                          <span class="_romnutxt">
                            <span class="fnt14">Log Out</span>
                            <span class="fnt12">Logout your profile</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--div class="_mnurobx" >
                        <div class="_subheaderlink">
                            <div class="notibellico"></div>
                        </div>
                    </div -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <section class="_bordrtp">
          <div class="_innerWrap" id="myTopnav">
            <div class="_menurohdr" style="position: relative">
              <ul>
                <li>
                  <a
                    href="https://www.easemytrip.com/flights.html"
                    class="_actvrmenu"
                  >
                    <span class="meuicowidth flightmenuico"></span
                    ><span>Flights</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.easemytrip.com/hotels/" class="">
                    <span class="meuicowidth hotelmenuico"></span
                    ><span>Hotels</span>
                  </a>
                </li>
                <li>
                  <a href="https://fph.easemytrip.com/" class="">
                    <span class="meuicowidth fphmenuico"></span
                    ><span>Flight + Hotel</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.easemytrip.com/railways/" class="">
                    <span class="meuicowidth trainmenuico"></span
                    ><span>Trains</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.easemytrip.com/bus/" class="">
                    <span class="meuicowidth busmenuico"></span><span>Bus</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.easemytrip.com/holidays/" class="">
                    <span class="meuicowidth holidaymenuico"></span
                    ><span>Holidays</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.easemytrip.com/cabs/" class="">
                    <span class="meuicowidth cabmenuico"></span
                    ><span>Cabs</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.easemytrip.com/activities/" class="">
                    <span class="meuicowidth actvitymenuico"></span
                    ><span>Activities</span>
                  </a>
                </li>
                <li class="_subheaderlink">
                  <a
                    ><span class="meuicowidth moremenuico"></span
                    ><span>More</span></a
                  >

                  <div class="_dropdownromenu">
                    <a
                      class="_drpdubro"
                      href="https://www.easemytrip.com/charters/flight.html"
                    >
                      <span class="menuropos charters-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Charters</span>
                        <span class="fnt12">Book private charters here</span>
                      </span>
                    </a>
                    <a
                      class="_drpdubro"
                      href="https://www.easemytrip.com/visa-info/"
                    >
                      <span class="menuropos visa-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Visa</span>
                        <span class="fnt12">Apply for a UAE Visa Online</span>
                      </span>
                    </a>
                    <div class="_drpdubro showmenu">
                      <span class="menuropos airportservice"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Airport service</span>
                        <span class="fnt12">Enjoy airport service</span>
                        <i class="_downroarwnwx" style="margin-top: 8px"></i>
                      </span>
                      <div class="clr"></div>
                      <a
                        class="_drpdubro viewmenu"
                        style="display: none"
                        target="_new"
                        href="https://easemytrip.adanione.com/duty-free"
                      >
                        <!--span class="menuropos dutyfree"></span -->
                        <span class="_romnutxt">
                          <i class="dott"></i>
                          <span class="fnt14">Duty free</span>
                          <!--span class="fnt12">Apply for a UAE Visa Online</span -->
                        </span>
                      </a>
                    </div>
                    <a
                      class="_drpdubro"
                      href="https://www.easemytrip.com/cruise-packages.html"
                    >
                      <span class="menuropos cruise-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Cruise</span>
                        <span class="fnt12">Book cruise here</span>
                      </span>
                    </a>
                    <a
                      class="_drpdubro"
                      href="https://www.easemytrip.com/giftcard/"
                    >
                      <span class="menuropos giftcard-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Gift Card</span>
                        <span class="fnt12">Buy giftcards here</span>
                      </span>
                    </a>
                    <a
                      class="_drpdubro"
                      href="https://www.easemytrip.com/deals.html"
                    >
                      <span class="menuropos offers-roico"></span>
                      <span class="_romnutxt">
                        <span class="fnt14">Offers</span>
                        <span class="fnt12">Check Best latest offers</span>
                      </span>
                    </a>
                  </div>
                </li>
              </ul>

              <!--div style="width: 120px;margin: 0 auto;position: absolute;right: 1px;top: 2px;"><img src="https://www.easemytrip.com/images/offer-img/nation-first-mob.svg" alt="Nation First Business Later" class="nationfrst"></div -->
            </div>
          </div>
        </section>
      </div>
    </section>
  </body>

  <!-- Bootstrap JS -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
