body {
  overflow-x: hidden;
}

._actvrmenu {
  background: #e2f2ff;
  border-radius: 5px;
  border-top: 1px solid #e6e8e9;
  border: 0;
  color: #202020;
  display: flex;
  float: left;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0 2px;
  outline: 0;
  padding: 6px 10px;
  position: relative;
  text-decoration: none !important;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #e6e8e9;
}

.meuicowidth.flightmenuico {
  background-repeat: no-repeat !important;
  background: url(../images/flight.png);
  background-size: contain;
  height: 40px;
  margin-right: 6px;
  margin: auto;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.hotelmenuico {
  background-repeat: no-repeat !important;
  background: url(../images/hotel.png);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  margin: auto;
  min-width: 30px;
}

.meuicowidth.fphmenuico {
  background: url(../images/flight_hotel.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.trainmenuico {
  background: url(../images/trains.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.busmenuico {
  background: url(../images/bus.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.holidaymenuico {
  background: url(../images/holidays.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.cabmenuico {
  background: url(../images/cab.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.actvitymenuico {
  background: url(../images/activities.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.moremenuico {
  background: url(../images/more.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

#header > div:nth-child(2) {
height: 300px;
background-color: rgb(47, 129, 237);
}

#header > div:nth-child(2) > div {
background-color: white;
width: 70%;
}

#header > div:nth-child(2) > div > div:nth-child(1), #header > div:nth-child(2) > div > div:nth-child(2) {
width: 300px;
flex-grow: 2;
}

#header > div:nth-child(2) > div > div:nth-child(3), #header > div:nth-child(2) > div > div:nth-child(4), #header > div:nth-child(2) > div > div:nth-child(5), #header > div:nth-child(2) > div > div:nth-child(6) {
  width: 125px;
flex-grow: 1;
}

#header > div:nth-child(2) > div > div {
padding: 10px;
}

#header > div:nth-child(2) > div > div.d-flex.flex-column.justify-content-center.align-items-center {
  flex-grow: 1;
  height: calc(100% - 20px);
}






#header > div:nth-child(2) > div > div:nth-child(6) > button {
/* padding-top: 100%;
padding-bottom: 100%; */
}









/* EXCLUSIVE OFFERS */
.carousel {
  display: none; /* Hide all carousels by default */
}

.active-carousel {
  display: block; /* Display active carousel */
}

.carousel-inner {
  height: 400px;
  background-color: black;
}

.carousel-item > img {
  height: 400px;
  object-fit: contain;
}

#exc-offers > div.row.p-4.d-flex.justify-content-center.align-items-center > a {
width: 200px;
}



/* TOP FLIGHT ROUTES */

#top-flight-routes > div.row.p-4 > div.col-10 {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card.m-3 {
  width: 320px;
  height: auto;
}

.row.g-0 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 320px;
}

#top-flight-routes > div.row.p-4 > div.col-10 > div > div > div:nth-child(1) {
  width: 80px;
}

.row.g-0 img {
  width: 100%;
}

.row.g-0 div:nth-child(2) {
  width: 240px;
}

.card-body {
  width: 240px;
  /* flex: 1 1 auto; */
}

.card-title {
  font-size: 16px;
}

.card-title > i {
  font-size: 18px;
}

/* FAMOUS TOURIST ATTRACTION */

#fam-tour-attra > div:nth-child(2) > div.col-10 > div {
  height: auto;
  flex-flow: row wrap;
}

#fam-tour-attra > div:nth-child(2) > div.col-10 > div > div {
  height: 140px;
  width: 180px;
}

#fam-tour-attra > div:nth-child(2) > div.col-10 > div > div > img {
  height: 80px;
  object-fit: contain;
}

#fam-tour-attra > div:nth-child(2) > div.col-10 > div > div > div {
  width: 100%;
}

/* TRAVEL BLOGS */

.card {
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  border-radius: 20px;
  z-index: 20;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div {
  display: flex;
  flex-flow: row wrap;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div {
  width: 260px;
  height: 220px;
  border-radius: 20px;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div > img {
  border-radius: 20px;
  z-index: 0;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div > div > div > div {
  position: relative;
}

.card-img-overlay {
  z-index: 500;
}

._blr_url {
  display: inline;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  padding: 12px 15px;
  width: 100%;
  z-index: 1000;
}

/* Create the arrow shape */
._blr_url::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #fff; /* Arrow color */
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div > div > div > h5 {
  margin-top: 40px;
}

#travel-vlogs
  > div:nth-child(2)
  > div.col-10
  > div
  > div:nth-child(2)
  > div
  > div
  > h5 {
  margin-top: 10px;
}

#travel-vlogs
  > div:nth-child(2)
  > div.col-10
  > div
  > div:nth-child(3)
  > div.card-img-overlay
  > div
  > h5 {
  margin-top: 10px;
}

#travel-vlogs > div.row.d-flex.justify-content-center.my-4 > a {
  width: 150px;
}

/* WHY BOOK WITH US */

#book-with-us > div:nth-child(2) > div.col-10 > div > div > div {
  width: 260px;
}

#book-with-us > div:nth-child(2) > div.col-10 > div > div > div > img {
  height: 80px;
}

#book-with-us > div:nth-child(2) > div.col-10 > div > div > div > div {
  width: 100%;
}

/* SEARCH FLIGHTS, HOTELS, BUS */

#flights-hotels-bus > div.row.m-5 > p {
  text-align: justify;
}

/* FOOTER */

.toggle-content {
  display: none;
}

body > footer {
  background-color: black;
  color: white;
}

#list-tab {
/* width: 200px; */
flex-shrink: 0;
}

#list-our-offerings > div.row.mt-4, #list-quick-links > div.row.mt-4, #list-pop-dest > div.row.mt-4, #list-int-dest > div.row.mt-4, #list-pop-air > div.row.mt-4, #list-connect-with > div.row.mt-4, #list-connect-with > div.row.mt-5, #list-offers > div.row.mt-4, #list-emt > div.row.mt-4, #list-media > div.row.mt-4, #list-media > div.row.mt-3 {
margin-left: 10px;
}

#list-our-offerings > div.row.mt-3 > ul, #list-quick-links > div.row.mt-3 > ul, #list-pop-dest > div.row.mt-3 > ul, #list-int-dest > div.row.mt-3 > ul, #list-pop-air > div.row.mt-3 > ul, #list-connect-with > div.row.mt-3 > ul, #list-offers > div.row.mt-3 > ul, #list-emt > div.row.mt-3 > ul {
  list-style-type: none;
 /*  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: start; */
}

#list-our-offerings > div.row.mt-3 > ul > li > a, #list-quick-links > div.row.mt-3 > ul > li > a, #list-pop-dest > div.row.mt-3 > ul > li > a, #list-int-dest > div.row.mt-3 > ul > li > a, #list-pop-air > div.row.mt-3 > ul > li > a, #list-connect-with > div.row.mt-3 > ul > li > a, #list-offers > div.row.mt-3 > ul > li > a, #list-emt > div.row.mt-3 > ul > li > a, #list-media > div.row.mt-3 > div > div.menulinkx2_cnt > a  {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin: 20px;
  font-size: 14px;
  font-weight: 500;
}

#list-media > div.row.mt-3 > div > div.menulinkx2_cnt > a {
  margin: 0px;
}

.menulinkx2_cnt {
  width: 22%;
}

#list-media > div.row.mt-3 > div > div.medi_cnt_mn > div > div > i {
  margin-top: 4px;
margin-right: 6px;
}

.nwHdr {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: block;
  padding: 0;
}

#list-media > div.row.mt-3 > div > div.medi_cnt_mn > div > div > p > a {
  color: #2196f3;
text-decoration: none;
}

#list-our-offerings > div.row.mt-3 > ul > li {
  width: 165px;
}

#list-quick-links > div.row.mt-3 > ul > li {
  width: 290px;
}

#list-pop-dest > div.row.mt-3 > ul > li {
  width: 150px;
}

#list-int-dest > div.row.mt-3 > ul > li {
  width: 100px;
}

#list-pop-air > div.row.mt-3 > ul > li {
  width: 160px;
}

#list-connect-with > div.row.mt-3 > ul > li {
  width: 160px;
  margin: 10px;
}

#list-offers > div.row.mt-3 > ul > li {
  width: 160px;
}

#list-emt > div.row.mt-3 > ul > li {
  width: 190px;
}

#list-tab > button {
flex-shrink: 0;
}

#list-connect-with > div.row.mt-3 > ul > li > a > img {
width: 40px;
}

#list-connect-with > div.row.mt-5 > div > div:nth-child(1) {
  width: 400px;
}

.content_newsletter {
width: 398px;
height: 92px;
}

#list-connect-with > div.row.mt-5 > div > div.content_newsletter > form {
position: relative;
width: 100%;
}

#txtsubEmail {
  width: 80%;
  border: 1px;
}

#list-connect-with > div.row.mt-5 > div > div.content_newsletter > form > button {
position: absolute;
right: 0;
top: 0;
z-index: 10;
margin-right: 0px;
width: 140px;
}

body > footer > div:nth-child(2) > div.col-xl-7.col-lg-7.col-md-7.col-sm-12.col-12 > img {
width: 192px;
}

body > footer > div.row.mt-4 > div.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12 > div > div.appicon.ftnew.d-flex.justify-content-evenly.align-items-center {
  width: 100%;
}

body > footer > div:nth-child(2) > div.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12 > div > div.appicon.ftnew > div:nth-child(1) > a > img, body > footer > div:nth-child(2) > div.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12 > div > div.appicon.ftnew > div:nth-child(2) > a > img {
  width: 100%;
  flex-grow: 1;
}

body > footer > div:nth-child(2) > div.col-xl-2.col-lg-2.col-md-2.col-sm-12.col-12 > div > div.qrnewft > div > img {
  width: 84px;
}

body > footer > div.row.mt-4 > div.col-xl-7.col-lg-7.col-md-7.col-sm-12.col-12.ms-5 > p {
text-align: justify;
}

body > footer > div:nth-child(3) > div > div.ndertimhgt {
  width: 42%;
  margin-left: auto;
  padding: 0 20px;
}

body > footer > div:nth-child(3) > div > div.ndertimhgt > img {
  width: 100%;
  flex-grow: 1;
}



