._actvrmenu {
  background: #e2f2ff;
  border-radius: 5px;
  border-top: 1px solid #e6e8e9;
  border: 0;
  color: #202020;
  display: flex;
  float: left;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0 2px;
  outline: 0;
  padding: 6px 10px;
  position: relative;
  text-decoration: none !important;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #e6e8e9;
}

.meuicowidth.flightmenuico {
  background-repeat: no-repeat !important;
  background: url(../images/flight.png);
  background-size: contain;
  height: 40px;
  margin-right: 6px;
  margin: auto;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.hotelmenuico {
  background-repeat: no-repeat !important;
  background: url(../images/hotel.png);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  margin: auto;
  min-width: 30px;
}

.meuicowidth.fphmenuico {
  background: url(../images/flight_hotel.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.trainmenuico {
  background: url(../images/trains.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.busmenuico {
  background: url(../images/bus.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.holidaymenuico {
  background: url(../images/holidays.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.cabmenuico {
  background: url(../images/cab.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.actvitymenuico {
  background: url(../images/activities.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

.meuicowidth.moremenuico {
  background: url(../images/more.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  color: #202020;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: auto;
  margin-right: 6px;
  min-width: 30px;
  width: 40px;
}

/* EXCLUSIVE OFFERS */

.carousel-inner {
  height: 400px;
  background-color: black;
}

.carousel-item > img {
  height: 400px;
  object-fit: contain;
}

/* TOP FLIGHT ROUTES */

#top-flight-routes > div.row.p-4 > div.col-10 {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card.m-3 {
  width: 320px;
  height: auto;
}

.row.g-0 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 320px;
}

#top-flight-routes > div.row.p-4 > div.col-10 > div > div > div:nth-child(1) {
  width: 80px;
}

.row.g-0 img {
  width: 100%;
}

.row.g-0 div:nth-child(2) {
  width: 240px;
}

.card-body {
  width: 240px;
  /* flex: 1 1 auto; */
}

.card-title {
  font-size: 16px;
}

.card-title > i {
  font-size: 18px;
}

/* FAMOUS TOURIST ATTRACTION */

#fam-tour-attra > div:nth-child(2) > div.col-10 > div {
  height: auto;
  flex-flow: row wrap;
}

#fam-tour-attra > div:nth-child(2) > div.col-10 > div > div {
  height: 140px;
  width: 180px;
}

#fam-tour-attra > div:nth-child(2) > div.col-10 > div > div > img {
  height: 80px;
  object-fit: contain;
}

#fam-tour-attra > div:nth-child(2) > div.col-10 > div > div > div {
  width: 100%;
}

/* TRAVEL BLOGS */

.card {
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  border-radius: 20px;
  z-index: 20;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div {
  display: flex;
  flex-flow: row wrap;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div {
  width: 260px;
  height: 220px;
  border-radius: 20px;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div > img {
  border-radius: 20px;
  z-index: 0;
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div > div > div > div {
  position: relative;
}

.card-img-overlay {
  z-index: 500;
}

._blr_url {
  display: inline;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  padding: 12px 15px;
  width: 100%;
  z-index: 1000;
}

/* Create the arrow shape */
._blr_url::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #fff; /* Arrow color */
}

#travel-vlogs > div:nth-child(2) > div.col-10 > div > div > div > div > h5 {
  margin-top: 40px;
}

#travel-vlogs
  > div:nth-child(2)
  > div.col-10
  > div
  > div:nth-child(2)
  > div
  > div
  > h5 {
  margin-top: 10px;
}

#travel-vlogs
  > div:nth-child(2)
  > div.col-10
  > div
  > div:nth-child(3)
  > div.card-img-overlay
  > div
  > h5 {
  margin-top: 10px;
}

#travel-vlogs > div.row.d-flex.justify-content-center.my-4 > a {
  width: 150px;
}
