._innerWrap, .pdbtm0 {
  font-family: 'Poppins', sans-serif !important;
  margin: auto;
  padding-bottom: 0 !important;
  padding: 5px  0;
  width: 1200px;
}

._onerohdr {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.emt_header {
  float: left;
  width: 170px;
}

.emt_logo {
  border: 0;
  color: #fff;
  float: left;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none  !important;
  transition: all .5s ease;
  user-select: none;
  width: auto;
}

.newHeaderLogo, .desk_logo {
  background-size: 138px 58px;
  background: url(https://www.easemytrip.com/images/brandlogo/emtlogo_new8.svg) 50% no-repeat;
  border: 0;
  color: #fff;
  display: inline-block;
  height: 58px;
  margin: 0;
  outline: 0;
  padding: 0;
  user-select: none;
  width: 156px;
}

.emt_rgtside {
  align-items: center;
  display: flex;
}

._mnurobx, .b2cpanel {
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  margin: 0 10px;
  position: relative;
}

._subheaderlink, .flxstrt {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.emtmateicn {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/EMTMate-icon.svg);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 14px;
  margin-right: 5px;
  margin-top: 4px;
  width: 14px;
}

#header > div:nth-child(1) > div > div > div.emt_rgtside > div > div > div:nth-child(2) {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

#header > div:nth-child(1) > div > div > div.emt_rgtside > div > div > div:nth-child(2) > span:nth-child(1) {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.hedsbline {
  color: #2d2d2d;
  cursor: pointer;
  display: block;
  font-size: 10px;
  font-weight: 400;
  margin-left: -20px;
}

.emtdeskicn {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/EMTDesk-icon.svg);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 16px;
  margin-right: 5px;
  margin-top: 4px;
  width: 16px;
}

.emtroyalico {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/emtroyalico.svg?f);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 16px;
  margin-right: 5px;
  margin-top: 2px;
  width: 16px;
}

.expbharatico {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/expbharatico.svg);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 18px;
  margin-right: 5px;
  margin-top: 2px;
  width: 16px;
}

.joinemtpro {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/joinemtpro.svg);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 16px;
  margin-right: 5px;
  margin-top: 4px;
  width: 16px;
}

._subheaderlink {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.mybookingico {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/mybookingico.svg);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

._downroarw {
  border-width: 0px 1px 1px 0;
  border: solid black;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
  margin: 0;
  outline: 0;
  padding: 3px;
  position: relative;
  top: -2px;
}

._dropdownromenu {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 500;
  max-height: 0px;
  min-width: 235px;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  right: -4px;
  top: 32px;
  z-index: 999;
}

._drpdubro {
  align-items: center;
  background: unset !important;
  border-bottom: 1px solid #F1F1F1;
  border-radius: 0 !important;
  border: 0;
  color: #202020;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 500;
  justify-content: flex-start;
  margin: 0 !important;
  outline: 0;
  padding: 10px 0 !important;
  text-decoration: none  !important;
  width: 100%;
}

.menuropos, .edtbooking-roico {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background: #F9F8FA url(/images/nwhomfiles/edtbooking-roico.svg);
  border-radius: 10px;
  color: #202020;
  font-size: 13px;
  font-weight: 500;
  height: 45px;
  margin-right: 10px;
  min-width: 45px;
  width: 45px;
}

._romnutxt {
  color: #202020;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.fnt14 {
  color: #202020;
  font-size: 13px;
  font-weight: 600;
}

.fnt12 {
  color: #202020;
  font-size: 11px;
  font-weight: 500;
}

.menuropos, .chngflght-roico {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background: #F9F8FA url(/images/nwhomfiles/chngflght-roico.svg);
  border-radius: 10px;
  color: #202020;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 45px;
  margin-right: 10px;
  min-width: 45px;
  width: 45px;
}

._mnurobx {
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  font-size: 13px;
  font-weight: 500;
  margin: 0 10px;
  position: relative;
}

.supportusrico {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/supportagent.svg);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 16px;
  margin-right: 5px;
  margin-top: 4px;
  width: 16px;
}

._subheaderlink, .flxstrt > div:nth-child(2) {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

._subheaderlink, .flxstrt > div:nth-child(2) > span {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

._downroarw, .mgt7 {
  border-width: 0px 1px 1px 0;
  border: solid black;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
  margin-top: 7px;
  margin: 0;
  outline: 0;
  padding: 3px;
  position: relative;
  top: -2px;
}

.menuropos, .callsupport-roico {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background: #F9F8FA url(/images/nwhomfiles/callsupport-roico.svg);
  border-radius: 10px;
  color: #202020;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 45px;
  margin-right: 10px;
  min-width: 45px;
  width: 45px;
}

.fnt12, ._clrblu, .copbtel {
  color: #2196f3;
    font-size: 11px;
}

.menuropos, .mailsupport-roico {
  background-position: -140px -210px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

.fnt12, ._clrblu, .copbmail {
  color: #2196f3;
  font-size: 11px;
}

.emt_listrgt {
  align-items: flex-end;
  flex-direction: column;
  width: auto;
}

.rgtseclag {
  margin-bottom: 6px;
}

._subheaderlink, .flxstrt, .cntdv {
  align-items: flex-start;
  cursor: pointer;
  position: relative;
}

.lang_cnt_view {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

#spnFlgImgHead {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin: 0 3px;
}

#spnFlgImgHead > img {
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  width: 18px;
}

#spnCC {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin: 0 3px;
}

.lang_slct {
  animation: slideInDown .25s linear;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 7px rgb(0 0 0 / 40%);
  cursor: pointer;
  display: none;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  position: absolute;
  right: -2px;
  top: 31px;
  transition: max-height 0.4s ease-in;
  width: 312px;
  z-index: 999;
}

.top_sec_lg {
  align-items: flex-start;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  justify-content: space-between;
}

.lang_slct_50 {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  width: 48%;
}

#lanCountry > p {
  border: 0;
  color: #737373;
  cursor: pointer;
  float: left;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
}

.currency-switcher {
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: 500;
  margin: auto;
  position: relative;
  width: 100%;
}

.dropdown {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  width: 100%;
}

.caption {
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 5%);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin: 5px auto;
  padding: 7px 10px;
}

#divCCaption > img {
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  width: 18px;
}

.list {
  background-color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  opacity: 0;
  position: absolute;
  top: 28px;
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.item, .ccaption, .IN, .selected {
  background: #f2f2f2;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  transition: .3s;
  visibility: hidden;
}

#lanCountry > div > div > div.list > div.item.ccaption.IN.selected > img {
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  visibility: hidden;
  width: 18px;
}

.inrcurr {
  background-size: 14px 14px;
  background: url(https://flight.easemytrip.com/Content/img/rupee-fare.svg) no-repeat;
  color: #243CBB;
  cursor: pointer;
  display: none;
  font-size: 14px;
  font-weight: 600;
  height: 14px;
  letter-spacing: 0.3px;
  margin: auto;
  padding: 0;
  position: absolute;
  right: 20px;
  visibility: hidden;
  width: 14px;
}

.item, .ccaption, .AE {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  transition: .3s;
  visibility: hidden;
}

#lanCountry > div > div > div.list > div.item.ccaption.AE > img {
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  visibility: hidden;
  width: 18px;
}

.aedcurr {
  background-size: 20px 15px;
  background: url(https://flight.easemytrip.com/Content/img/black_aed.png) no-repeat;
  color: #243CBB;
  cursor: pointer;
  display: none;
  font-size: 14px;
  font-weight: 600;
  height: 15px;
  letter-spacing: 0.3px;
  margin: auto;
  position: absolute;
  right: 20px;
  vertical-align: middle;
  visibility: hidden;
  width: 20px;
}

.item, .ccaption, .UK {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  transition: .3s;
  visibility: hidden;
}

#lanCountry > div > div > div.list > div.item.ccaption.UK > img {
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  visibility: hidden;
  width: 18px;
}

.gbpcurr {
  background-image: url(https://flight.easemytrip.com/Content/img/gbp-black.svg) !important;
  background-size: 12px 12px;
  color: #243CBB;
  cursor: pointer;
  display: none;
  font-size: 14px;
  font-weight: 600;
  height: 12px;
  letter-spacing: 0.3px;
  margin-right: 1px;
  position: absolute;
  right: 20px;
  vertical-align: middle;
  visibility: hidden;
  width: 12px;
}

.item, .ccaption, .TH {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  transition: .3s;
  visibility: hidden;
}

#lanCountry > div > div > div.list > div.item.ccaption.TH > img {
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  visibility: hidden;
  width: 18px;
}

.thbcurr {
  background-image: url(https://flight.easemytrip.com/Content/img/curr-icon/thb_black.svg) !important;
  background-size: 14px 13px;
  color: #243CBB;
  cursor: pointer;
  display: none;
  font-size: 14px;
  font-weight: 600;
  height: 13px;
  letter-spacing: 0.3px;
  margin: auto;
  position: absolute;
  right: 20px;
  vertical-align: middle;
  visibility: hidden;
  width: 14px;
}

.item, .ccaption, .US {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: none;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  transition: .3s;
  visibility: hidden;
}

#lanCountry > div > div > div.list > div.item.ccaption.US > img {
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  visibility: hidden;
  width: 18px;
}

.usdcurr {
  color: #243CBB;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: absolute;
  right: 20px;
  visibility: hidden;
}

#lanCurr > p {
  border: 0;
  color: #737373;
  cursor: pointer;
  float: left;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
}

.currCaption {
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 5%);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin: 5px auto;
  padding: 7px 10px;
}

.currlist {
  background-color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  opacity: 0;
  position: absolute;
  top: 28px;
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.curritem, .selected {
  background: #f2f2f2;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  transition: .3s;
  visibility: hidden;
}

.curritem {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  transition: .3s;
  visibility: hidden;
}

.boder_tps {
  border-top: 1px solid #DFDFDF;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

#header > div:nth-child(1) > div > div > div.emt_rgtside > div.emt_listrgt > div:nth-child(1) > div._mnurobx.b2cpanel > div.lang_slct > div.boder_tps > p {
  border: 0;
  color: #737373;
  cursor: pointer;
  float: left;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
}

.lang_slect {
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: 500;
  height: 70px;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.cont_curr {
  border-radius: 3px;
  border: 1px solid #eee;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 5px;
  margin: auto 1px;
  min-width: 31%;
  outline: 0;
  padding-left: 25px;
  padding: 6px;
  position: relative;
  user-select: none;
}

.cont_curr > input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  user-select: none;
}

.chk_curr {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #2196f3;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  height: 15px;
  left: 5px;
  position: absolute;
  top: 6px;
  user-select: none;
  width: 15px;
}

._signuppnl, ._subheaderlink {
  cursor: pointer;
  display: block;
  margin-left: 10px;
  position: relative;
}

._btnclick {
  background: #2196F3;
  border-radius: 40px;
  border: 0;
  box-shadow: 0 0 7px rgba(0,0,0,.10);
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  outline: 0;
  padding: 5px 15px;
  text-decoration: none  !important;
}

._btnclick > span {
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

._dropdownromenu, .drhvr {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  max-height: 0px;
  min-width: 235px;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  right: -4px;
  top: 32px;
  z-index: 999;
}

._drpdubro, .log {
  background: unset !important;
  border-bottom: 1px solid #F1F1F1;
  border-radius: 0 !important;
  border: 0;
  color: #202020;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 !important;
  outline: 0;
  padding: 10px 0 !important;
  text-decoration: none  !important;
  width: 100%;
}

.menuropos, .custlog-roico {
  background-position: -280px -176px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  cursor: pointer;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

.menuropos, .corplog-roico {
  background-position: -104px -210px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

.menuropos, .agntlog-roico {
  background-position: -35px -210px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

.menuropos, .mybooking-roico {
  background-position: -244px -210px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

._AgntID {
  background: #e1ffe2;
  border-left: 3px solid #14c595;
  display: none;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
}

._mnurobx, .logedrobg {
  background: #EBF6FF;
  border-radius: 40px;
  border: 1px solid #D9EEFF;
  cursor: pointer;
  display: none;
  font-size: 13px;
  font-weight: 600;
  margin: 0 10px;
  padding: 5px 10px;
  position: relative;
}

.logrousrico {
  background-repeat: no-repeat;
  background-size: 100%;
  background: url(/images/nwhomfiles/logrousrico.svg);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

#spnLgnWelcome {
  cursor: pointer;
  display: none;
  font-size: 12px;
  font-weight: 600;
}

#welcome-det-User {
  cursor: pointer;
  display: none;
  font-size: 12px;
  font-weight: 600;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: sub;
  white-space: nowrap;
}

._dropdownromenu, .b2cpanel, .drhvr {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 600;
  max-height: 0px;
  min-width: 235px;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  right: -4px;
  top: 32px;
  z-index: 999;
}

.menuropos, .myprofile-roico {
  background-position: -209px -210px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

.menuropos, .emtwallet-roico {
  background-position: 1px -210px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

._drpdubro, .LogOut {
  background: unset !important;
  border-bottom: 1px solid #F1F1F1;
  border-radius: 0 !important;
  border: 0;
  color: #202020;
  cursor: pointer;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  justify-content: flex-start;
  margin: 0 !important;
  outline: 0;
  padding: 10px 0 !important;
  text-decoration: none  !important;
  width: 100%;
}

.menuropos, .logout-roico {
  background-position: -245px -175px;
  background-repeat: no-repeat;
  background-size: 355px 330px;
  background: #F9F8FA url(https://www.easemytrip.com/images/nwhomfiles/menuspriteicon.png?v9);
  border-radius: 10px;
  color: #202020;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
}

.rupeb2b {
  color: #202020;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  justify-content: flex-start !important;
}

.rupeb2b > img {
  border: 0;
  color: #202020;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  margin: 1px 1px 0 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  vertical-align: top;
  width: 8px;
}

.wallet-amt {
  color: #202020;
  cursor: pointer;
  float: right;
  font-size: 13px;
  font-weight: 500;
}

.rupeeIcnb2b {
  border: 0;
  color: #202020;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  margin: 1px 1px 0 0;
  max-width: 100%;
  outline: 0;
  padding: 0;
  vertical-align: top;
  width: 8px;
}





